body{
    font-family: 'Poppins', sans-serif;
    text

}
h1{
    font-size:60px ;
    

}

p{ 
    font-size: 25px;
}
section{
    display: flex;
}
.text-center{
    color: white;
    text-align: center;
    padding-left: 15%;
    font-weight:bold;
    background-image: url(images/donation3.jpg);
    text-transform: uppercase;
    width: 100%;
    padding-top: 10%;
    background-repeat: no-repeat;

    
}
.donate-button{
    color: aliceblue;
    background-color: orange;
    font-size: 30px;
    padding: 10px 40px;
    border-radius:20px ;
    
}


.sectext-center{
    text-align: center;
    padding-left: 20%;
    font-weight:700 ;
    padding-top: 10%;
    padding-right: 22%;
    

}
.second-donate{
    color: aliceblue;
    background-color: orange;
    font-size: 30px;
    padding: 10px 40px;
    padding-left: 
    border-radius: 20px;
    
}



.flexible-container{
    display: inline-block;
    margin-bottom: 150px;
    width: 20px;
    text-align: center;
    padding-left: 20%;
    padding-top: 5%;
    word-spacing: 10%;
}
#two-thousand{
    color: brown;
}
#taka-amount{
    text-align: center;
    padding-left: 50%;
    padding-bottom: 80%;
}

.donate-plan{
    display: flex;
    margin-bottom: 150px;
}
.lives-depend{
    padding-left: 10%;
    padding-bottom: 10%;
    padding-top: 10%;
    
}
.to-contribute{
    color: aliceblue;
    background-color: burlywood;
    font-size: 40px;
    border-spacing: 10px;
}

.need-us{
    width: 50%;
    padding-left: 10%;
    padding-bottom: 10%;
}
.get-my{
    display:flex;
    padding-left: 45%;

}

.medium-term{
    padding-left: 30%;
}